<html>

<head>
    <meta charset="utf-8">
    <script src="https://js.braintreegateway.com/web/dropin/1.4.0/js/dropin.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <div id="dropin-container" style="width:500px"></div>
    <button id="submit-button" class="button button--small button--green">Purchase</button>
    <script src="main.js"></script>
</body>

</html>
